@page "/one"

<PageTitle>Page One</PageTitle>

<h1>Page One</h1>

I do <b>not</b> have an <code>adHoc.js</code> file.

Here's my ad-hoc site nav:

<ul>
    <li><a href="/"><b>Home</b></a></li>
    <li><a href="/one">Page One</a></li>
    <li><a href="/two">Page Two</a></li>
</ul>
