@page "/two"

<PageTitle>Page Two</PageTitle>

<HeadContent>
    <script type="module" src="/js/adHoc.js"></script>
</HeadContent>

<h1>Page 2</h1>

I have an <code>adHoc.js</code> file.

Here's my ad-hoc site nav:

<ul>
    <li><a href="/"><b>Home</b></a></li>
    <li><a href="/one">Page One</a></li>
    <li><a href="/two">Page Two</a></li>
</ul>
